body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.container {
  display: flex; /* используем flexbox для размещения таблицы и текста на одной линии */
}

.left-side {
  width: 35%; /* левая часть экрана */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* центрируем текст */
  flex-direction: column; /* выстраиваем элементы по вертикали */
}

.right-side {
  width: 60%; /* правая часть экрана */
  padding-left: 20px; /* отступ слева */
	padding-right: 120px;
  display: flex;
 
  align-items: center;
  text-align: center; /* центрируем текст */
  flex-direction: column; /* выстраиваем элементы по вертикали */
}

table {
  border-collapse: collapse; /* убираем зазоры между ячейками */
  width: 100%; /* таблица занимает всю ширину родителя */
 border: none;
}

table td {
  border: 2px solid #000; /* добавляем границу для ячеек */
  padding: 0; /* убираем внутренние отступы, чтобы изображение занимало всю ячейку */
 border: none;
}

.tree-image {
  width: 100%; /* изображение занимает всю ширину ячейки */
  height: auto; /* высота изображения автоматически подстраивается */
  display: block; /* изображение как блочный элемент */
}

h2 {
  margin-top: 7; /* убираем верхний отступ у заголовка */
  font-size: 32px; /* увеличиваем размер текста заголовка */
margin-bottom: 5px;
}
h1 {
  /* убираем верхний отступ у заголовка */
  font-size: 42px; /* увеличиваем размер текста заголовка */

}

p {
  font-size: 24px; /* увеличиваем размер текста описания */
}
button {
  position: absolute;
  top: 42px;
  right: 200px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #D3D3D3;
  color: white;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
    /* Стили для кнопок */
    .change-button {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 40px;
        height: 40px;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .button-icon {
        width: 100%;
        height: 100%;
    }

    .back-button {
        position: absolute;
        top: 20px; /* Положение от верхнего края страницы */
        right: 20px; /* Положение от правого края страницы */
    }
button:hover {
  background-color: #C0C0C0;
}